.portfolio-item {
  margin-bottom: 30px;
}
.card:hover{
	cursor:pointer;
	box-shadow:0 0 10px 1px #eeeeee;
}
.wrapper{
	margin:0 10%;
}
.card{
	border:none;
}
.card-body{
	padding:5px 0px;
}
.card-title{
	font-size:17px;
	font-weight:bold;
	margin:0;
}
.card-text{
	font-size:14px;
}
.card-location{
	display:inline;

	padding:0;
	margin:0;
	font-size:12px;
	font-weight:bold;
	color:#7397d1;
}
.card-date{
	display:inline;

	padding:0;
	margin:0;
	font-size:12px;
	font-weight:bold;
	color:#7397d1;
}
.card-divider{
	display:inline;
	height:5px;
	padding:0;
	margin:0;
	color:#7397d1;
}
.card-info{
	padding-top:2px;
	padding-bottom:2px;
}
.card{
	max-width:250px;
	height:auto;
}